footer
    .container
        include footer/columns
        include footer/friends
.copyright
    .container
        .row
            .col-md-12
                .pull-left!= site.copyright
                ul.list-unstyled.list-inline.pull-right
                    li: a(href="http://gruntjs.com")
                        img(src="https://cdn.gruntjs.com/builtwith.png", alt="Built with Grunt")
                    li: a(href="/sitemap.html")!= __({ru:'Карта сайта', en:'Sitemap'})
                    