footer
    .container
        include footer/columns
        include footer/friends
.copyright
    .container
        .row
            .col-md-12
                .pull-left &copy;&nbsp;2010&nbsp;&mdash;&nbsp;2014.&nbsp;All rights reserved.
                ul.list-unstyled.list-inline.pull-right
                    li: a(href="http://gruntjs.com")
                        img(src="https://cdn.gruntjs.com/builtwith.png", alt="Built with Grunt")
                    li: a(href="http://klimchuk.com/sitemap") Sitemap
                    li: a(href="http://klimchuk.com/privacy") Privacy
                    li: a(href="http://klimchuk.com/cookie-policy") Cookie Policy   