footer
    .container
        include footer/columns
        include footer/friends
.copyright
    .container
        .row
            .col-xs-12.col-md-4
                != site.copyright
                case site.lang
                    when 'ru'
                        include footer/license-ru
                    when 'en'
                        include footer/license-en
            .col-xs-12.col-md-4.col-md-offset-4
                ul.list-unstyled.list-inline
                    li: a(href="http://gruntjs.com", target="_blank")
                        img(src="https://cdn.gruntjs.com/builtwith.png", alt="Built with Grunt")
                    //- li: a(href="/sitemap.html")!= __({ru:'Карта сайта', en:'Sitemap'})
