header
    .container
        .row
            nav(role="navigation").navbar.navbar-default
                .navbar-header
                    button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    h1
                        a(href="/" ).navbar-brand 
                            .language
                                div RU
                                div.active EN
                            | Ivan Klimchuk
                .collapse.navbar-collapse.navbar-ex1-collapse
                    ul.nav.navbar-nav.navbar-right
                        each page in getCollection("pages").toJSON()
                            li: a(href=page.url)= page.menutitle
