.copyright
    line-height 30px
    overflow hidden
    font-size 12px
    background-color $color-bg-copy
    color $color-copy-text
    & a
        color $color-copy-link
        &:visited
            color darken($color-copy-link, 20)
        &:hover
            color $color-copy-link-hover
        
    & ul
        margin-bottom 0
.copyright * 
    font-family $font-sans