header 
    background-color $color-bg-header

.navbar
    border none
    color: $color-text-header
    margin-bottom 0
    min-height $header-height
.navbar-default
    background-color transparent
    border-radius 0
    box-shadow none
    color $color-text-header
.navbar-header h1
    overflow hidden
    line-height $header-height
    height $header-height
    margin 0
.navbar-brand
    font-size 48px
    float none
    padding 0 15px
    white-space nowrap

.navbar-default .navbar-toggle
    margin 33px
    margin-right 15px
    border-color $color-text-header
    & .icon-bar
        background-color $color-text-header
    &:focus,
    &:hover
        background-color $color-text-header
        & .icon-bar
            background-color $color-bg-header

.navbar-default .navbar-brand
    display inline-block
    padding 40px 15px
    vertical-align top
    & a
        color $color-text-header
        &:focus
        &:hover
            color $color-text-header
.navbar-default .navbar-nav *
    font-family $font-sans
    font-size 18px
.navbar-default .navbar-nav li a 
    color $color-text-header
    &:hover
        color $color-text-header
        text-decoration underline

.navbar-nav
    margin 30px 20px
    text-transform uppercase

@media (max-width: 767px)
    .navbar-default .navbar-brand
        font-size 22px
        padding 40px 0

.language
    display inline-block
    font-size 12px
    line-height 14px
    margin 27px 0
    margin-left 15px
    border 1px solid whitesmoke
    border-radius 4px
    text-transform uppercase
    vertical-align top
    & a
        text-decoration none
    & span
        display block
        padding 4px
        color $color-text-header
        font-family $font-sans
        &.active
            background whitesmoke
            color $color-bg-header
            font-weight bold

    