.twitter    
    font-size 16px
    background-color $color-bg-twitter
    color $color-text-twitter-text
    & figure
        margin 14px 0
        & .loader
            height 22px
    & figcaption
        & a
            color $color-text-twitter-user
    & blockquote
        padding 0
        padding-left 100px
        margin 0
        border 0
        & a
            color $color-text-twitter-text
            text-decoration underline