.row
    .col-xs-12.col-sm-4.col-md-2
        h3 For Clients
        ul.list-unstyled.clients
            li: a(href="/") Services
            li: a(href="http://klimchuk.com/prices") Prices
            li: a(href="http://klimchuk.com/contacts") Contacts
            li: a(href="http://klimchuk.com/projects/sites") Portfolio
    .col-xs-12.col-sm-4.col-md-3
        h3 Recent Projects
        ul.list-unstyled
            li: a(href="") Проект MODX.by
            li: a(href="") Интернет-магазин EMALL.BY
            li: a(href="") ANTINI Interior
            li: a(href="") Dvesta - крановые панели
    .col-xs-12.col-sm-4.col-md-2
        h3 Blog Headings
        ul.list-unstyled
            li: a(href="http://klimchuk.com/blog/closet/") Closet
                sup 3
            li: a(href="http://klimchuk.com/blog/modx/") MODX
                sup 10
            li: a(href="http://klimchuk.com/blog/life/") Personal life
                sup 18
            li: a(href="http://klimchuk.com/blog/travel/") Travel
                sup 7
    .col-xs-12.col-sm-4.col-sm-offset-2.col-md-2.col-md-offset-0
        h3 I am read
        ul.list-unstyled
            li: a(href="http://bezumkin.ru", target="_blank") Vasily Naumkin
            li: a(href="http://grinchik.ru", target="_blank") Victor Grinchik
            li: a(href="http://thrash.me", target="_blank") Ryan Thrash
            li: a(href="http://markhamstra.com", target="_blank") Mark Hamstra
    .col-xs-12.col-sm-6.col-md-3
        h3 Fast Contacts
        ul.list-unstyled
            li
                a(href="")
                    i.icon.icon-envelope 
                    | ivan@klimchuk.com
            li
                a(href="") 
                    i.icon.icon-skype 
                    | Alroniks
            li
                a(href="")
                    i.icon.icon-phone 
                    | + 375 33 638 10 92