.row.friends    
    a(href="http://modx.com", target="_blank")
        img(src="/images/common/modx-logo-white-transparent.png", alt="")
    a(href="https://www.modmore.com/?via=262", target="_blank")
        img(src="https://assets.modmore.com/img/logo_white.png", alt="Premium Extras & More for MODX®")
    a(href="http://store.simpledream.ru", target="_blank")
        img(src="/images/common/ssd-logo.png", alt="Store Simple Dream")