.container.recent
    .row
        .col-xs-12
            h2 Blog Updates
                a.more.pull-right(href="#") Read the Blog
            .col-xs-12.col-md-4
                time 20 august 2013, 15:21
                h3: a(href="#") Developing an Extras in MODx: configuring of the environment
                .desc: p Some days ago I did have some free minutes and I started develop a new Extra for MODx Revolution. Results you will see later. But now I talk as about I configured my development environment for the comfortable developing and for simple assembly and deploying packages for MODx.
            .col-xs-12.col-md-4
                time 31 may 2010, 02:03
                h3: a(href="#") The first blog entry
                .desc: p Some days ago I did have some free minutes and I started develop a new Extra for MODx Revolution. Results you will see later. But now I talk as about I configured my development environment for the comfortable developing and for simple assembly and deploying packages for MODx.
            .col-xs-12.col-md-4
                time 04 febrary 2013, 13:12
                h3: a(href="#") The second blog entry
                .desc: p Some days ago I did have some free minutes and I started develop a new Extra for MODx Revolution. Results you will see later. But now I talk as about I configured my development environment for the comfortable developing and for simple assembly and deploying packages for MODx.
