.jumbotron
    .container
        h1 Hello, my name is Ivan Klimchuk!
        p Hi! My name is Ivan. Last five years I work as PHP developer at different companies. At now I am a free developer-entrepreneur enthusiastic of MODX. I am MODX Ambassador in Belarus and in his spare time I am doing the project <a href="http://modx.by" target="_blank">MODX Belarus</a> and help to other developer and users to work succesfully with this great CMS.