.container.twitter
    .row
        .col-xs-12
            figure
                blockquote
                    a(href="#", target="_blank", rel="nofollow") @wiktar 
                    | покажи линк на гитхаб?
                figcaption: a(href="#", target="_blank") @iklimchuk 