.twitter
    .container
        .row
            .col-xs-12
                figure
                    figcaption.pull-left: a(href="#", target="_blank") @iklimchuk 
                    blockquote
                        a(href="#", target="_blank", rel="nofollow") http://t.co/gVXcl1qXZL
                        |  Опасно однако ходить с металло-детектором. Интересная статья об устройстве снарядов и гранат времен ВОВ
                    