.post 
    & h2
        margin-top 30px
        font-size 32px
        line-height 1.3
        color #444 // TODO: вынести в переменную
        margin-bottom 10px
        & a
            color inherit
        .tags
            color #808080
            font-size 16px
            display inline
            font-style italic
            & a
                color inherit
    & .info time
        font-size 16px
        color #808080 // TODO: в переменную
.tagscloud 
    font-size 20px
    & sup
        padding 0 5px
        font-size 14px
        font-style italic
        color $color-text-base