---
title: Упс! Такой страницы нет
layout: 'innerpage'
---

h1 Упс! Такой страницы не нашлось на моем сайте.

h3 Мне очень жаль, но что-то пошло не так.

p Видимо вы ввели неправильный адрес и оказалось, что на моем сайте такой страницы нет. Я очень сожалею, что ее нет.

h3 Но все можно решить

p У меня есть блог, где я делюсь своими мыслями и идеями. 
    a(href="/blog.html") Вот здесь собраны все записи.

p А вот недавно написанное в блоге

ul.list-unstyled
    each post in getPageCollection('posts').toJSON().slice(0,5)
        li: a(href!= post.url)!= rtt(post.title)

p Если же вы хотите узнать обо мне подробнее или связаться со мной, есть страница с моей биографией и контактами. 
    a(href="/about.html") Именно по этой ссылке.

p Надеюсь, вы найдете то, что искали.

h2 Хорошего вам дня!
    