---
title: 'Кто такой Иван Климчук'
anchor: 'Автор'
inMenu: true
layout: 'aboutpage'
pageOrder: 1
---

h1 Автор

p Небольшой текст о себе
p Для деловых предложений и важных сообщений лучше всего использовать почту, если же я нужен вам в режиме чата — пишите в Skype, там я почти всегда онлайн.
