---
title: 'Кто такой Иван Климчук'
menutitle: 'Об авторе'
layout: 'default'
pageOrder: 1
---

.content
    .container
        .row
            .col-xs-12.contacts
                h1 About
                p Business proposals and important messages are best send to me via email, if you need to chat with me — write to me by Skype, I'm almost always online.
                .col-xs-12.col-sm-6.col-md-4
                    a.btn.btn-info(href="#") 
                        i.icon.icon-envelope 
                        |  ivan@klimchuk.com
                .col-xs-12.col-sm-6.col-md-4
                    a.btn.btn-info(href="#") 
                        i.icon.icon-skype
                        |  Alroniks
                .col-xs-12.col-sm-6.col-md-4
                    a.btn.btn-info(href="#") 
                        i.icon.icon-phone
                        |  +375 33 638 10 92
        .row.profiles
            .col-xs-12.col-sm-6.col-md-4
                h3 Social Profiles
                .col-xs-6
                    ul.list-unstyled
                        li
                            i.icon.icon-github
                            a(href="#") GitHub
                        li: a(href="#") Moikrug.ru
                        li
                            i.icon.icon-linkedin
                            a(href="#") LinkedIn
                        li: a(href="#") Habrahabr.ru
                        li: a(href="#") Onliner.by
                .col-xs-6
                    ul.list-unstyled
                        li
                            i.icon.icon-twitter
                            a(href="#") Twitter
                        li
                            i.icon.icon-facebook
                            a(href="#") Facebook
                        li
                            i.icon.icon-vk
                            a(href="#") VK.com
                        li
                            i.icon.icon-instagram
                            a(href="#") Instagram
                        li
                            i.icon.icon-book
                            a(href="#") Bibla.ru
            .col-xs-12.col-sm-6.col-md-4
                h3 MODX Profiles
                ul.list-unstyled
                    li: a(href="") MODX Ambassador
                    li: a(href="") MODX Professional
                    li: a(href="") MODX Forum Profile
                    li: a(href="") Profile on community.modx-cms.ru
                    li: a(href="") Profile on modx.im
            .col-xs-12.col-sm-12.col-md-4
                h3 Details of the IE
                p: strong Individual Entrepreneur Klimchuk Ivan Ivanovich
                address 137, Chapaeva Str., Luninets, Brest region, Republic of Belarus
                small curr. account 3013029429018, JSC "Priorbank" BSC №113, bank code 749, 13, Komsomolskaya Str., Minsk
                abbr(title="Account number of the payer") ANP 
                | 291163111

        .row.cv
            .col-xs-12.col-sm-6.col-md-3
                h3 Studied
                ul
                    li 
                        strong Belarusian State University of Informatics and Radioelectronics 
                        br
                        a(href="http://bsuir.by") bsuir.by
                        br
                        br
                        | Faculty of 
                        strong Computer Systems and Networks
                        | ,
                        br
                        | speciality 
                        strong Information Technologies Software
                    li Lyceum, Luninets
                    li School №3, Luninets
            .col-xs-12.col-sm-6.col-md-3
                h3 Current job, past positions
                ul
                    li.current
                        h4 
                            | Backend-developer
                            small from April 2013
                        a(href="http://onliner.by/", rel="nofollow", target="_blank") Project Onliner.by
                    li
                        h4 
                            | Head of server-based development
                            small August 2011 – April 2013
                        a(href="http://lovata.com/", rel="nofollow", target="_blank") LOVATA Group
                    li
                        h4
                            | Веб-технолог
                            small February 2011 – September 2011
                        a(href="http://hh.ru/", rel="nofollow", target="_blank") HeadHunter
                    a(href="http://www.linkedin.com/in/ivanklimchuk/en") More details in LinkedIn
            .col-xs-12.col-sm-6.col-md-3
                h3 I Know
                ul
                    li PHP (5+), Python (2+), Javascript (4+), HTML5/CSS3 (10+), XML/XSLT (1+)
                    li MODX, Symphony, Silex, F3, Yii, Django
                    li Mac OS, Ubuntu/CentOS/Debian, Windows does not use a fundamentally
                    li nginx, apache, php-fpm, mysql, server administration
                    li MySQL, SQLite, PostreSQL, Oracle
                    li git/github, mercurial, Jira, Redmine, BaseCamp, Agile (Scrum, Kanban), rarely SVN and BZR
            .col-xs-12.col-sm-6.col-md-3
                h3 My Hobbies
                dl
                    dt Bike
                    dd I am cycling rarely at last time, but it is my favorite kind of transport and favorite sport.
                    dt Cookery
                    dd I am studying cooking the best and yummy stakes. I love and know how to cook. I can not get to make an omelet.
                    dt Reading
                    dd I like to read a books. But I not have time for imaginative literature, most of time I read programming and bussines books.

