---
title: 'Кто такой Иван Климчук'
anchor: 'Автор'
inMenu: true
layout: 'aboutpage'
pageOrder: 1
---

h1!= document.title

p Приветствую! 
p Меня зовут Иван. Родился 17 декабря 1988 года, живу к Минске, Беларусь.
p Программирование начал изучать в 9 классе школы, с тех пор это одно из самых увлекательных занятий в моей жизни. 
p Еще я люблю велосипед, путешествия и качественный стейк. 
hr
p Для деловых предложений и важных сообщений лучше всего использовать <a href="mailto:ivan@klimchuk.com">почту</a>, если же я нужен вам в режиме чата &mdash; пишите в <a href="skype:Alroniks?chat">Skype</a>, там я почти всегда онлайн. Если вдруг вам совсем невмоготу, можете и <a href="tel:+375336381092">позвонить</a>, но знайте, я не люблю отвечать на телефонные звонки.
hr
