---
title: 'Кто такой Иван Климчук'
anchor: 'Автор'
inMenu: true
layout: 'aboutpage'
pageOrder: 1
---

h1!= document.title

p Приветствую! 
p Меня зовут Иван, фамилия Климчук. Родился 17 декабря 1988 года, живу к Минске, Беларусь.
p Программированием увлекся в 9 классе школы, с тех пор это одно из самых увлекательных занятий в моей жизни. 
p В настоящий момент 
hr
p Для деловых предложений и важных сообщений лучше всего использовать почту, если же я нужен вам в режиме чата — пишите в Skype, там я почти всегда онлайн.
