---
title: 'Посол и евангелист MODX в Беларуси'
anchor: 'Посол MODX'
inMenu: true
layout: 'innerpage'
pageOrder: 4
---

article

    h1!= document.title

    p: img(src="http://arteric.com/assets/images/modx-ambassador/MODx-Ambassador-RGB_xl.png", title="MODX Ambassador", alt="modx ambassador program badge")

    p MODX активно развивается и все это благодаря людям, которые им пользуются и которые делают его лучше. 
    p Я же, как <a href="http://modx.com/ambassadors/listing/ivan-klimchuk" target="_blank">посол MODX в Республике Беларусь</a>, стремлюсь, чтобы он ней узнало как можно больше людей. 
    p Так же моя обязанность помогать людям, начинающим работать с MODX, в решении их проблем и возникающих вопросов. Этим я занимаюсь с февраля 2013 года, с тех пор, как началась программа послов MODX.

    h3 Мой профессиональный уровень

    p Я программист с опытом в PHP/MySQL больше 6 лет и навыками в MODX Revolution больше 3 лет. Работал с множеством различных технологий, как для backend-, так и для frontend-разработки. Работал и решал задачи в разных операционных системах, знаком с различными методологиями разработки программных продуктов, в прошлом руководил небольшой группой программистов. В настоящий момент работаю над высоконагруженным популярным проектом байнета.

    h2 Задачи

    p Как посол и евангелист я ставлю перед собой следующие задачи:

    ul
        li Построить дружное сообщество разработчиков MODX
        li Наладить успешный диалог между разработчиками и обычными пользователями MODX
        li Создать средства и возможности для обмена опытом между разработчиками и пользователями
        li Быть связующим звеном и искать новых учаcтников сообщества

    h2 Планы и цели на этот год

    p Решить раз и навсегда вопрос с документацией на русском языке
    p Сделать сайт сообщества <a href="http://modx.by" target="_blank">http://modx.by</a> удобным и полезным как для начинающих, так и для опытных специалистов и пользователей.
    p Организовать череду встреч между разработчиками и обычными пользователями MODX.
    p: em будет пополняться

    h2 Контакты для предложений

    p Я всегда открыт к предложениям и готов выслушать любую точку зрения по любому вопросу. 
    p Действительно серъезные решения будут приниматься только на уровне сообщества.
    p Чтобы предложить идею, достаточно связаться со мной любым способом, указанным <a href="/about.html">на этой странице</a>.


