---
title: 'MODX Ambassador Ivan Klimchuk'
layout: default
pageOrder: 4
---

.content
    .container
        .row
            .col-xs-12
                article
                    h1 MODX Ambassador
                    
                    p Since February 2013 I am MODX Ambassador in Belarus.

                    h3 Support and MODX Questions
                    | You always can ask me about any questiong about MODX. My debpt help to MODX users as Ambassador.

                    h3 Meet-ups and Conference organization
                    
                    h3 Open Source Activity with MODX
    