---
title: 'Бортовой журнал / Блог'
menutitle: 'Блог'
layout: 'blogpage'
pageOrder: 2
---

title= ''

each post in getCollection('posts').toJSON()
    article.post
        h2: a(href=post.url)= post.title
        .intro | desct before cut
        .info
            a(href="#") MODX
            time= post.date