---
title: 'Бортовой журнал / Блог'
anchor: 'Блог'
inMenu: true
layout: 'innerpage'
pageOrder: 2
---

h2 Blog

each post in getCollection('posts').toJSON()
    article.post
        h2: a(href=post.url)= post.title
            ul.list-unstyled.list-inline.tags
                li: a(href="#") MODX
                li: a(href="#") Личная жизнь
        .intro= cuttedContent(post.contentRenderedWithoutLayouts)
        if hasReadMore(post.contentRenderedWithoutLayouts)
            a.more(href= post.url) Читать далее...
        .info
            time= pubDate(post.date)