---
title: 'Who is Ivan Klimchuk'
anchor: 'Author'
inMenu: true
layout: 'aboutpage'
pageOrder: 1
---

h1!= document.title

p Hello! 
p My name is Ivan, surname Klimchuk. I was born in December, 17 in 1988. Now live in Minsk, Belarus.
p Программированием увлекся в 9 классе школы, с тех пор это одно из самых увлекательных занятий в моей жизни. 
p В настоящий момент 
hr
p Для деловых предложений и важных сообщений лучше всего использовать почту, если же я нужен вам в режиме чата — пишите в Skype, там я почти всегда онлайн.
