---
title: 'Who is Ivan Klimchuk'
anchor: 'Author'
inMenu: true
layout: 'aboutpage'
pageOrder: 1
---

h1!= document.title

p Hello! 
p My name is Ivan. I was born December, 17 in 1988. Now I live in Minsk, it is Belarus.
p I started learn programming with a grade 9 in school and since that time this is one of the most exciting activities in my life.
p Also I like cycling, traveling and qualitative steak.
hr
p For business proposals and important messages the best way that you can use &mdash; <a href="mailto:ivan@klimchuk.com">emails</a>. If you want chat with me &mdash; please get in touch with me in <a href="skype:Alroniks?chat">Skype</a>. I'm almost always online. If you very want call me by cellphone, you can dial <a href="tel:+375336381092">+375 33 638 10 92</a>. But you should know, I don't like to answer by phone.
hr
