---
title: 'Ambassador and evangelist of MODX in Belarus'
anchor: 'MODX Ambassador'
inMenu: true
layout: 'innerpage'
pageOrder: 4
---

article

    h1!= document.title
    
    p: img(src="http://arteric.com/assets/images/modx-ambassador/MODx-Ambassador-RGB_xl.png", title="MODX Ambassador", alt="modx ambassador program badge")

    p MODX actively developed and that is all thanks to the people who use it and that make it better.
    p <a href="http://modx.com/ambassadors/listing/ivan-klimchuk" target="_blank">As MODX Ambassador in Belarus</a>, I aspire that a lot of people could learn about MODX.
    p I also see it as my duty to help people who start work with MODX for solve their issues and questions. I have been doing it since February 2013 when MODX started the Ambassador program.

    h3 My professional level
    
    p I am a programmer with over 6 years experience in PHP/MySQL and more than 3 years in MODX Revolution. I have worked with a variety of different technologies for both backend-, and frontend-development. I work and solve problems using different operating systems. I am familiar with various methodologies of software development, and in the past I led a small group of programmers. Currently I am working on a high load, very popular project in Belarus.

    h2 Tasks

    p I set myself goals and objectives as an ambassador:

    ul
        li Build a friendly community of MODX developers
        li Establish a successful dialogue between developers and ordinary users of MODX
        li Create tools and opportunities to exchange experiences between developers and users
        li Be the link and look for new community members

    h2 Plans&amp;goals for this year

    ul
        li Resolve the issue once and for all about the official documentation in Russian.
        li Make community site <a href="http://modx.by" target="_blank">http://modx.by</a> convenient and useful for both beginners and experienced professionals and users.
        li Organize a series of meetings between developers and ordinary users of MODX.
        li: em More will be added

    h2 Contacts for propositions

    p I'm always open to suggestions and willing to listen to any point of view on any issue.
    p Really serious decisions will be made only at the community level.
    p To suggest an idea, just contact me in any manner specified <a href="/about.html">on this page</a>.

p: em If you find any mistakes, grammatical and others, please <a href="mailto:ivan@klimchuk.com">get in touch with me</a>.
