
// variables
$font-size = 14px
$color-link-base = #358BFF
$color-link-active = #236DD1
$color-link-hover = #236DD1
$color-link-visited = #7635FF
$color-text-base = gray
$color-text-unimportant = silver
$color-text-twitter-user = #ABECFF
$color-text-twitter-text = white
$color-bg-twitter = #00ACEE
$color-bg-footer = #252525

$color-footer-text = white
$color-footer-heading = #EEE
$color-footer-link = #AAA
$color-footer-link-hover = #CCC

$color-copy-text = white
$color-copy-link = white
$color-copy-link-hover = #AAA



