body
    font-size $font-size
    & *
        font-family: $font-serif

body a
    color $color-link-base
    &:visited
        color $color-link-visited
    &:active
        color $color-link-active
    &:hover
        color $color-link-hover

h1, h2, h3 
    color $color-bg-header