$color-link-base = #559bbf
$color-link-active = #547A8F
$color-link-hover = #1C5A7C
$color-link-visited = #547A8F

$color-text-article = #444
$color-text-base = gray
$color-text-header = white
$color-text-unimportant = silver
$color-text-additional = #808080
$color-text-twitter-user = #ABECFF
$color-text-twitter-text = white

$color-bg-header = #559bbf
$color-bg-twitter = #00ACEE
$color-bg-footer = #252525
$color-bg-copy = black

$color-link-lang = #CAEEFF

$color-footer-text = white
$color-footer-heading = #EEE
$color-footer-link = #AAA
$color-footer-link-hover = #CCC
$color-footer-column-line = #51575f

$color-copy-text = white
$color-copy-link = white
$color-copy-link-hover = #AAA

$header-height = 100px;

$font-size = 16px
$font-serif = 'PT Serif', Georgia, serif
$font-sans = 'PT Sans', sans-serif