.row.friends    
    a(href="http://modx.com")
        img(src="http://klimchuk.com//upload/modx-logo-white-transparent.png", alt="")
    a(href="https://www.modmore.com/?via=262")
        img(src="https://assets.modmore.com/img/logo_white.png", alt="Premium Extras & More for MODX®")
    a(href="http://store.simpledream.ru")
        img(src="http://klimchuk.com//upload/ssd-logo.png", alt="Store Simple Dream")