.col-xs-12.col-sm-6.col-md-4
    a.btn.btn-info(href="#") 
        i.icon.icon-envelope 
        |  ivan@klimchuk.com
.col-xs-12.col-sm-6.col-md-4
    a.btn.btn-info(href="#") 
        i.icon.icon-skype
        |  Alroniks
.col-xs-12.col-sm-6.col-md-4
    a.btn.btn-info(href="#") 
        i.icon.icon-phone
        |  +375 33 638 10 92