.col-xs-12.col-sm-6.col-md-4
    a.btn.btn-info(href="mailto:ivan@klimchuk.com") 
        i.icon.icon-envelope 
        |  ivan@klimchuk.com
.col-xs-12.col-sm-6.col-md-4
    a.btn.btn-info(href="skype:Alroniks?chat") 
        i.icon.icon-skype
        |  Alroniks
.col-xs-12.col-sm-6.col-md-4
    a.btn.btn-info(href="tel:+375336381092") 
        i.icon.icon-phone
        |  +375 33 638 10 92