h3!= rtt("Хобби")
dl
    dt Велосипед
    dd Последнее время катаюсь реже, а вообще - это любимый вид транспорта и любимый вид спорта.
    dt Готовка
    dd Учусь готовить самые правильные и вкусные стейки. Вообще готовлю не плохо и это дело люблю. Есть момент &ndash; абсолютно не получается приготовить яишницу.
    dt Чтение
    dd Последнее время читаю литературу либо по работе, либо по саморазвитию, на художественную, к сожалению, времени почти не остается, но от хорошей фантастики никогда не откажусь.