h3!= rtt("Details of the IE")
p: strong Individual Entrepreneur Klimchuk Ivan Ivanovich
address 137, Chapaeva Str., Luninets, Brest region, Republic of Belarus
small curr. account 3013029429018, JSC "Priorbank" BSC №113, bank code 749, 13, Komsomolskaya Str., Minsk
abbr(title="Account number of the payer") ANP 
|  291163111