h3!= rtt("Company Information")
p: strong Sole Trader Klimchuk Ivan Ivanovich
address 137, Chapaeva str., Luninets, Brest region, Republic of Belarus
small current acc 3013029429018, JSC "Priorbank" BSC №113, bank code 749, 13, Komsomolskaya Str., Minsk
abbr(title="Account number of the payer") ANP 
|  291163111
