h3!= rtt("Реквизиты ИП")
p: strong Индивидуальный предприниматель Климчук Иван Иванович
address Республика Беларусь, Брестская обл., г. Лунинец, ул. Чапаева, д. 137
small р/с 3013029429018, ОАО "Приорбанк" ЦБУ №113, код банка 749, г. Минск, ул. Комсомольская, 13
abbr(title="Учетный Номер Плательщика") УНП
|  291163111