h3 Current job, past positions
ul
    li.current
        h4 
            | Backend-developer
            small from April 2013
        a(href="http://onliner.by/", rel="nofollow", target="_blank") Project Onliner.by
    li
        h4 
            | Head of server-based development
            small August 2011 – April 2013
        a(href="http://lovata.com/", rel="nofollow", target="_blank") LOVATA Group
    li
        h4
            | Веб-технолог
            small February 2011 – September 2011
        a(href="http://hh.ru/", rel="nofollow", target="_blank") HeadHunter
    a(href="http://www.linkedin.com/in/ivanklimchuk/en") More details in LinkedIn