h3 I Know
    ul
        li PHP (5+), Python (2+), Javascript (4+), HTML5/CSS3 (10+), XML/XSLT (1+)
        li MODX, Symphony, Silex, F3, Yii, Django
        li Mac OS, Ubuntu/CentOS/Debian, Windows does not use a fundamentally
        li nginx, apache, php-fpm, mysql, server administration
        li MySQL, SQLite, PostreSQL, Oracle
        li git/github, mercurial, Jira, Redmine, BaseCamp, Agile (Scrum, Kanban), rarely SVN and BZR