h3!= rtt(__({ru:'Знаю и умею', en:'Know and Can'}))
ul
    li PHP (5+), Python (2+), Javascript (4+), HTML5/CSS3 (10+), XML/XSLT (1+)
    li MODX, Symphony, Silex, F3, Yii, Django
    li Mac OS, Ubuntu/CentOS/Debian, 
        !=  __({ru:'Windows не использую принципиально', en:'Windows does not use a fundamentally'})
    li nginx, apache, php-fpm, mysql, 
        !=  __({ru:'администирование сервера', en:'server administration'})
    li MySQL, SQLite, PostreSQL, Oracle
    li git/github, mercurial, Jira, Redmine, BaseCamp, Agile (Scrum, Kanban),
        !=  __({ru:'редко SVN и BZR', en:'rarely SVN and BZR'})