h3!= rtt(__(ru:'Профили MODX', en:'MODX Profiles'))
ul.list-unstyled
    li: a(href="http://modx.com/ambassadors/listing/ivan-klimchuk", target="_blank")!= __(ru:'Посол MODX', en:'MODX Ambassador')
    li: a(href="http://modx.com/professionals/listing/ae", target="_blank")!= __(ru:'Профессионал MODX', en:'MODX Professional')
    li: a(href="http://forums.modx.com/u/Alroniks", target="_blank")!= __(ru:'Аккаунт на форуме MODX', en:'MODX Forum Profile')
    li: a(href="http://community.modx-cms.ru/profile/Alroniks", target="_blank")!= __(ru:'Профиль на community.modx-cms.ru', en:'Profile on community.modx-cms.ru')
    li: a(href="", target="_blank")!= __(ru:'Профиль на modx.im', en:'Profile on modx.im')