h3!= rtt("Образование")
ul
    li 
        strong Белорусский государственный университет информатики и радиоэлектроники
        br
        a(href="http://bsuir.by", target="_blank") bsuir.by
        br
        br
        | Факультет 
        strong Компьютерные системы и сети
        | ,
        br
        | специальность 
        strong Программное обеспечение информационных технологий
    li Лицей, г. Лунинец
    li Школа №3, г. Лунинец