h3!= rtt("Studied")
ul
    li 
        strong Belarusian State University of Informatics and Radioelectronics 
        br
        a(href="http://bsuir.by", target="_blank") bsuir.by
        br
        br
        | Faculty of 
        strong Computer Systems and Networks
        | ,
        br
        | speciality 
        strong Information Technologies Software
    li Lyceum, Luninets
    li School №3, Luninets