.jumbotron
    .container
        p
            case site.lang
                when 'ru'
                    | Привет! Меня зовут Иван. 
                    | Уже больше 5 лет работаю PHP-программистом в разных компаниях, 
                    | на текущий момент свободный разработчик-предприниматель, увлеченный MODX. 
                    | Являюсь Послом MODX в Беларуси, в свободное время делаю проект 
                    a(href="http://modx.by", target="_blank") MODX Belarus
                    |  и помогаю другим разработчикам и пользователям разобраться с этой прекрасной CMS.
                when 'en'
                    | Hi! My name is Ivan. 
                    | Last five years I work as PHP developer at different companies. 
                    | At now I am a free developer-entrepreneur enthusiastic of MODX. 
                    | I am MODX Ambassador in Belarus and in his spare time I am doing the project 
                    a(href="http://modx.by", target="_blank") MODX Belarus
                    | and help to other developer and users to work succesfully with this great CMS.
                