.twitter
    .container
        .row
            .col-xs-12
                figure
                    div.loader
                        img(src="/img/twitter-loader.gif")
                    div.tweet(style="display:none;")
                        figcaption.pull-left: a(href="https://twitter.com/iklimchuk", target="_blank") @iklimchuk 
                        blockquote(id="tweet")