.twitter
    .container
        .row
            .col-xs-12
                figure
                    figcaption.pull-left: a(href="https://twitter.com/iklimchuk", target="_blank") @iklimchuk 
                    blockquote Данные не могут быть получены.