---
layout: 'innerpage'
---

if document.layout == 'blogpost'
    h2: a(href="/blog.html")!= rtt(__({ru:'Бортовой журнал',en:'Logbook'}))
else
    h2!= rtt(__({ru:'Бортовой журнал',en:'Logbook'}))

aside
    ul.list-unstyled.list-inline.tagscloud
        for tag in getTagCloud()
            li
                a(href=tag.url)!= rtt(tag.tag)
                sup= tag.count

!= content

!= partial('blog/disqus')
