---
layout: 'default'
---

.content
    .container
        .row
            .col-xs-12
                h2: a(href="#") Бортовой журнал
                // tags
                article
                    != content