---
layout: 'default'
---

.content
    .container
        .row
            .col-xs-12
                h2 Бортовой журнал
                // tags
                article
                    h1= document.title
                    != content