- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

//- jQuery
- scripts.add(["/vendor/jquery/jquery.min.js"])

//- Bootstrap
- scripts.add(["/vendor/bootstrap/js/bootstrap.min.js"])
- styles.add(["/vendor/bootstrap/css/bootstrap.min.css"])

//- User
- styles.add(["/css/index.css"])

doctype html
html(lang= site.lang)
    include partials/common/head
    body
        include partials/common/navbar
        != content
        include partials/common/footer
    != scripts.toHTML()