- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

- scripts.add(["/vendor/jquery/jquery.min.js"])
- scripts.add(["/vendor/bootstrap/js/bootstrap.min.js"])
- styles.add(["/vendor/bootstrap/css/bootstrap.min.css"])
- styles.add(["/css/index.css"])

doctype html
html(lang= site.lang)
    include partials/common/head
    body
        include partials/common/navbar
        != content        
        include partials/common/footer
    != scripts.toHTML()

    != partial('common/counters')